<div class="cards">
  <% @cocktails.each do |cocktail| %>
    <%= link_to cocktail_path(cocktail), class: "card-product" do  %>
      <!-- <div class="card-product"> -->
        <%= cl_image_tag cocktail.photo.key %>
        <div class="card-product-infos">
          <h2><%= cocktail.name %></h2>
          <p> <% cocktail.stars.times do %>
                <i class='fas fa-star active'></i>
              <% end %>
              <% (5 - cocktail.stars).times do %>
                <i class='fas fa-star'></i>
              <% end %>
          </p>
        </div>
      <!-- </div> -->
    <% end %>
  <% end %>
</div>
