.navbar-lewagon {
  justify-content: space-between;
  // background: black;
  // border-bottom: 1px solid white;
  // box-shadow: 6px 6px 6px rgba(250, 250, 250, 0.01);
  margin-bottom: 15px;

  h1 {
    color: white;
    font-size: 24px;
  }

  .navbar-collapse {
    flex-grow: 0;
  }

  .navbar-brand img {
    width: 30px;
  }

}
